<%= form_for(@hymn) do |f| %>
  <% if @hymn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hymn.errors.count, "error") %> prohibited this hymn from being saved:</h2>

      <ul>
      <% @hymn.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :personName %><br />
    <%= f.text_field :personName %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :birthYear %><br />
    <%= f.text_field :birthYear %>
  </div>
  <div class="field">
    <%= f.label :deathYear %><br />
    <%= f.text_field :deathYear %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
